<%- include('header'); -%>

    <div class="box" id="heading">
        <h1><%= listName %></h1>
    </div>
    <div class="box">
            <% for ( let i = 0; i < tasks.length; i++ ) { %>
                <div class="item">
                <input type="checkbox">
                <p> <%= tasks[i] %> </p>
            </div>
            <% } %>
        <form action="/" method="post">
            <input type="text" placeholder="Add Task" name="varTask">
            <button type="submit" name="currList" value="<%= listName %>">+</button>
        </form>
    </div>
<%- include('footer'); -%> 